doctype html
html
  head
    meta(charset='utf-8')
    title Е-горски
    link(rel='shortcut icon', type='image/x-icon', href='favicon.ico')
    link(rel='stylesheet', href='static/css/bootstrap.min.css')
    style(media='screen').
      .jumbotron{
      padding: 0.5em 0.6em;
      }
      .jumbotron h1{
      font-size: 2em;
      }
      .footer{
      background-color: #dbd6d6;
      text-align: center;
      }
  body
    script(type='text/javascript', src='static/js/jquery.js')
    script(src='static/js/bootstrap.min.js')
    .jumbotron.text-center
      h1 Обща информация
    .container
      p(style='font-size: 1.5em;')
        | За успешното получаване, обработване и проверяване на сигнала е нужно потребителят на платформата да попълне коректно цялата информация.
        | Освен име и фамилия, телефонен номер и снимка на личната карта, е необходимо подаващият сигнала да посочи от падащото меню и проблема
        | (вида закононарушение), а при избор на раздел "други нарушения"- те да се опишат подробно в специално предоставения за целта прозорец.
        | Преди да изпрати сигнала, гражданинът маркира на картата местоположението, където е наблюдавал и установил дадения проблем, за който уведомява Изпълнителна агенция по горите.
        | Моментално след изпращането на сигнала, изпращачът му получава входящ номер, благодарение на който може да следи в реално време какви мерки са предприети от страна на ИАГ, като отговорът на сигнала се получава под формата на "обратна връзка".
        br
        br
        .text-center
          span(style='color: green;font-size: 2em;')
            b БЪДЕТЕ ОЧИТЕ И ГЛАСА НА БЪЛГАРСКАТА ГОРА!
      .footer.navbar-fixed-bottom
        h4 Made by David Mavrodiev
