doctype html
html
  head
    meta(charset='utf-8')
    title Е-горски
    link(rel='shortcut icon', type='image/x-icon', href='static/favicon.ico')
    link(rel='stylesheet', href='static/css/bootstrap.min.css')
    style(media='screen').
      .footer{
      background-color: #dbd6d6;
      text-align: center;
      }
  body
    script(type='text/javascript', src='static/js/jquery.js')
    script(src='static/js/bootstrap.min.js')
    .jumbotron.text-center
      if result.isUserAuthenticated
        h2(style='color: blue;text-shadow: 2px 2px #42d9f4;')= 'Привет, ' + result.username + '!'
        hr
        div(style="width: 60%;margin: 0 20%")
          a(href='/logout')
             span.btn-lg.btn-primary.pull-right Изход
          a(href='/admins')
             span.btn-lg.btn-info.pull-left Чат
      else
        h1(style='color: green;text-shadow: 2px 2px #1ff438;') e-горски
        p(style="color: brown")
            | (онлайн система за подаване на сигнали за закононарушения в защитени горски територии)
    .container
      .row
        if result.isUserAuthenticated
            if result.IsAdmin
              .col-sm-4
              a(href='/signals')
                h3.btn-lg.btn-success.text-center ПОЛУЧЕНИ СИГНАЛИ
              p.text-center Показване на получените сигнали.
            else
              .col-sm-4
              a(href='/send')
                h3.btn-lg.btn-success.text-center СИГНАЛИЗИРАЙ
              p.text-center Регистрация на сигнал.              
              .col-sm-4
              a(href='/response')
                h3.btn-lg.btn-success.text-center ОБРАТНА ВРЪЗКА
              p.text-center Отговор на сигнала.
              .col-sm-4
              a(href='/help')
                h3.btn-lg.btn-success.text-center ПОМОЩ
              p.text-center Информация за подаване на сигнала и получаване на обратна връзка.
              .col-sm-4
              hr
              .container(style="margin: 40px;")
                .alert.alert-success#Alert(style="display:none;text-align:center")
                  strong Успяхте!
                  |  Вашият отзив бе публикуван.
                .row
                  .col-md-6.col-md-offset-3
                    .well.well-sm
                      form.form-horizontal#myform(action='/feedback', method='post')
                        fieldset
                          legend.text-center(style="color: blue") Отзив
                          .form-group
                            label.col-md-3.control-label(for='firstname', style="color: blue") Име
                            .col-md-9
                              input#firstname.form-control(name='firstname', type='text')
                          .form-group
                            label.col-md-3.control-label(for='lastname', style="color: blue") Фамилия
                            .col-md-9
                              input#lastname.form-control(name='lastname', type='text')
                          .form-group
                            label.col-md-3.control-label(for='text', style="color: blue") Текст
                            .col-md-9
                              textarea#text.form-control(name='text', rows='5')
                          .form-group
                            .col-md-12.text-right
                              button.btn.btn-primary.btn-lg(type='submit') Изпрати
                          
        else
            .col-sm-4
            a(href='/login')
                h3.btn-lg.btn-success(style="text-align: center;") Вход / Регистрация
            img.img-responsive.img-rounded(src="static/tree.gif" style = "height: 15em; margin: 0 auto;")
            hr
            each feedback, index in result.feedbacks
              .container
                .row
                  .col-md-6.col-md-offset-3
                    h3(style="color: brown")= 'Отзив №' + (index + 1)
                .row
                  .col-md-6.col-md-offset-3
                    .panel.panel-default
                      .panel-heading
                        strong= feedback.firstname + " " + feedback.lastname
                      .panel-body(style="color: green")= feedback.text
            .container(style="margin: 50px;")                
      .footer.navbar-fixed-bottom
        h4
          | Made by 
          a(href='https://github.com/David-Mavrodiev') David Mavrodiev
      
script(type='text/javascript').
  var frm = $('#myform');
  frm.submit(function (ev) {
  $.ajax({
  type: frm.attr('method'),
  url: frm.attr('action'),
  data: frm.serialize(),
  success: function (data) {
  $("#Alert").css('display', "block");
  }
  });
  ev.preventDefault();
  });

